body {
background-color: black;
background-image: url('cloud.jpg');
display: flex;
flex-flow: column nowrap;
}

header {   
display: flex;
flex: 3 3 auto;
height: 6em;   
width: auto; 
background-color: transparent;
color: white;
padding: 2px;
margin: 1px;
border: 4px solid #d3af37;
border-radius: 20px;
/*font size: 18px;*/
box-sizing: border-box;
align-content: center;
}

.william,
.elderkin {
color: FireBrick;
background-color: transparent;
flex: 4 4 auto;
font-size: 20px;
font-style: italic;
text-align: center;
align-content: center;
margin: 2px;
border: 4px solid #4f86f7/*#d3af37*/;
border-radius: 20px;
}
.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  background-color: transparent;
  border: 4px solid #4f86f7;
  border-radius: 20px;
  color: FireBrick;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  flex: 1;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  background-color: transparent;
  border: 4px solid #4f86f7;
  border-radius: 20px;
  color: FireBrick;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  flex: 1;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.menu {
  display: flex;
  width: 4px;
  height: 30px;
  background-color: FireBrick;
  margin: 2px;
}

.carousel { 
flex: 6 6 auto;
width: auto;          /*  leave out purples #9966cc  #bfc428 #bf00ec and orange #e89104 yellow #d3af37 green #b0bf1a*/
display: flex;
height: 40em;
background-color: transparent;
margin: 2px;
border: 4px solid #4f86f7/*#d3af37*/;
border-radius: 20px;
margin: 2px;
}

.app {
background-color: #ffbf00;
flex: 1;
border: 2px solid #b0bf1a;
}

.blog {
background-color: #b0bf1a;
flex: 1;}

.projects {
flex: 1;
background-color: transparent;
color: #ffbf00; 
border: 4px solid #d3af37;
border-radius: 20px;
margin: 2px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

footer {
display: flex;
flex-flow: row wrap;
flex: 1 1 auto;
width: auto;
height: 3em;
background-color: transparent;
color: white;
/*border: 4px solid #d3af37;
border-radius: 20px;*/
}

.contact {
background-color: transparent;
color: FireBrick;
flex: 1;
width: 50%;
border: 4px solid #d3af37;
border-radius: 20px;
}

.about {
background-color: transparent;
color: FireBrick;
flex: 1;
width: 50%;
border: 4px solid #d3af37;
border-radius: 20px;
}
.liner {
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #4f86f7;
  
}

