header {   
display: flex;
height: 50px;   
width: auto; 
background-color: #b0bf1a;
color: white;
padding: 2px;
margin: 1px;
border: 2px solid black;
font size: 12px;
box-sizing: border-box;}

.william,
.elderkin {
color: black;
background-color: #e89104;
flex: 2 2 auto;
}

.menu {
background-color: transparent;
color: #ffbf00 ;
flex: 1 1 auto;}

body {
}

div {
margin: 2px;
border: 2px solid black;
}

.carousel {               /* leave out purples #9966cc  #bfc428 #bf00ec*/
display: flex;
width: auto;
height: 400px;
background-color: #d3af37;}

.app {
background-color: #ffbf00;
flex: 1;
}

.blog {
background-color: #b0bf1a;
flex: 1;}

.projects {
background-color: #e89104;
flex: 1;}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

footer {
display: flex;
width: auto;
height: 50px;
background-color: #b0bf1a;
color: white;}

.contact {
background-color: transparent;
color: white;
flex: 1;
}

.about {
background-color: transparent;
color: ;
flex: 1;
}


